* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw; 
  height: 100vh; 
}

#page-title {
  text-align: center; 
  margin: 3rem; 
}

#navbar {
  width: 100%; 
  display: flex; 
  justify-content: center; 
  gap: 1rem; 
}

#add-button {
  background-color: white; 
}

.nav-button, #add-task {
  padding: 0.15rem;
  background-color: white; 
}

#navbar > button:hover, #add-task:hover {
  background-color: rgb(213, 213, 213); 
  cursor: pointer; 
}

#grid-container {
  width: 80%; 
  margin: 0 auto; 
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(180px, 1fr)); 
  gap: 1rem;
  margin-top: 4rem; 
}

#button-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin-top: 4rem; 
}

#note-form , .note {
  background-color: rgba(227, 237, 240, 0.464); 
  padding: 1rem; 
  border-radius: 1rem; 
  box-shadow: 8px 5px 15px 5px rgba(0,0,0,0.24)
}

input , select {
  border: none; 
  background: transparent; 
  margin-bottom: 0.15rem; 
}

#note-duedate {
  color: transparent
}

#note-priority {
  width: 9rem; 
  color: grey;
  appearance: none;
}

#note-priority:hover {
  cursor: pointer; 
}

#note-duedate::-webkit-calendar-picker-indicator {
  filter: greyscale(1);
  opacity: 0.5; 
  position: relative;
  right: 9.3rem;
  top: 0;
  width: 10rem;
  height: 1rem;
  cursor: pointer;
}

input:focus, select:focus {
  outline: none; 
}

#create-note {
  height: 1.5rem; 
  text-align: center; 
  width: 3rem; 
  background-color: rgb(168, 237, 168);
  border: none; 
  padding: 0.15rem; 
  border-radius: 0.1rem; 
}

#create-note:hover {
  cursor: pointer; 
  border: 0.15rem solid green; 
}